nav.navbar-lesson{
    padding: 1% 2% 1% 2%;
    display: flex;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.06);
    border: 1px solid #00000036;
}

.logo{
    width: 76%;
}

.navbar-items{
    width: 24%;
}

.sidebar{
    background-color: #f7f7f7;
    padding: 1%;
    height: 100%;
    overflow: scroll;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.lhs-header{
    display: flex;
}

.back-text{
    color:#01AED3;
    margin: auto;
    margin-left: 0%;
}

.common-text{
    font-size: 14px;
    font-weight: 400;
}

.chapter-details{
    width: 84%;
  }

.lesson-chapters{
    background-color: #fff;
    display: flex;
    padding: 2%;
  }

.lesson-chapters:hover{
    box-shadow: 4px 4px 10px 0px #00000070;
    transition: 0.5s;
    border-left: 5px solid #01AED3;
  }

  .chapter-name{
    margin-bottom: 0%;
  }

  .chapter-details-list{
    display: flex;
    list-style: none;
    margin: 0%;
    align-items: baseline;
    padding: 0%;
  }

  .chapter-details-list li{
    margin-right: 2%;
    font-size: 14px;
    margin-top: 1%;
  }

  .chapter-number{
    width: 9%;
    margin: auto;
    margin-right: 0%;
    margin-left: 0%;
  }

  .number{
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #999999;
    border-radius: 50px;
    padding: 4% 14%;
  }

  .dropdown-chapter{
    width: 10%;
    margin: auto;
  }

  .dropdown-arrow{
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #999999;
    border-radius: 50px;
    padding: 12% 19%;
  }

  .dropdown-arrow:hover{
    border: 1px solid #01AED3;
    background-color: #01AED3;
    color:#fff;
  }

  .bottom-nav{
    color: #01AED3;
    background-color: #222222;
    position: fixed;
    bottom: 0%;
    padding: 1%;
    width: 100%;
    display: flex;
  }

  .lhs-bottom{
    display: flex;
    width: 55%;
}

.bottom-nav-text{
    font-size: 12px;
    font-weight: 700;
    margin: auto;
    margin-left: 0;
}

.bottom-nav-btn{
    width: 20%;
}

.bottom-btn{
    background-color: #01AED3;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #01AED3;
    padding: 2% 9%;
}

.bottom-btn:hover{
  background-color: #fff;
  color: #01AED3;
  border-radius: 50px;
  border: 1px solid #01AED3;
  transition: 0.5s;
}

.breadcrumb-rhs{
    background-color: #fff;
    padding: 1.5%;
    display: flex;
}

.active {
    color: #01AED3;
    margin-left: 0%;
}

.breadcrumb-item{
    margin-left: 0%;
    color: #999999;
}

.lesson-heading{
  padding: 0% 5%;
}

.chapter-heading{
  font-size: 36px;
  font-weight: 400;
}

.badge-bordered{
  color: #28a745;
  border: 1px solid #28a745;
}